/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Arimo');

html {
    color: #555;
    font-size: 100%;
    line-height: 1.4;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
textarea {
    resize: vertical;
}
p {
    padding: 8px 0px 5px;
    margin: 0px;
}

/* ==========================================================================
   Head
   ========================================================================== */
.head {
    width: 100%;
    height: 460px;
    background-image: url(../img/headimg.jpg);
    background-size: cover;
}
.sign {
    position: absolute;
    width: 30.6%;
    height: 363px;
    background-color: #fff;
    top: 230px;
    left: 0px;
    box-shadow: 5px 5px 20px 3px rgba(0,0,0, 0.15);
}
.signIn {
    z-index: 2;
}
.signUp {
    z-index: 1;
}
.signIn-button, .signUp-button {
    width: 50%;
    text-align: center;
    padding: 18px 0px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: -55px;
    box-shadow: 5px 5px 20px 3px rgba(0,0,0, 0.15);
    z-index: 1;
    cursor: pointer;
}
.signIn-button {
    left: 0px;
    color: #72d6f6;
}
.signUp-button {
    right: 0px;
    color: #42f696;
}
.sign-panel {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: #fff;
    overflow: hidden;
}
.active-panel {
    z-index: 3 !important;
}
.sign-panel .inner {
    width: 80%;
    margin: 0px auto;
    padding: 45px 0px;
}
.sign-panel p, .sign-panel input {
    margin-bottom: 20px;
}
/* Formularfelder */
.sign-panel form input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: #74d4fc solid 2px;
    background-color: #fff;
    font-family: 'Arimo', sans-serif;
}
.sign-panel form input:focus {
    outline: none;
}
.sign-panel ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
}
.sign-panel ::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
}
.sign-panel :-ms-input-placeholder { /* IE 10+ */
    color: #999999;
}
.sign-panel :-moz-placeholder { /* Firefox 18- */
    color: #999999;
}
 /* Submit Button */
.sign-panel form input.submit {
    text-align: center;
    background-color: #74d4fc;
    color: #fff;
}

/* ==========================================================================
   Spalten und Layout
   ========================================================================== */
.inner {
    margin: 0px auto;
    width: 1200px;
    position: relative;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
